<softGetawayServiceState xmlns="http://schemas.datacontract.org/2004/07/softGetawayHost" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><active>true</active><limitClientsCount>100</limitClientsCount><privateIP>2.0.4.1</privateIP><publicConnectionGuid>{C3FDAFD8-9098-40DE-8083-B433EC6176BA}</publicConnectionGuid><wifiPassword>egordasha</wifiPassword><wifiSSID>User-AP</wifiSSID></softGetawayServiceState>