<softGetawayServiceState xmlns="http://schemas.datacontract.org/2004/07/softGetawayHost" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><active>true</active><limitClientsCount>100</limitClientsCount><privateIP>192.168.2.1</privateIP><publicConnectionGuid>{B6F98901-63A6-4936-BF2B-0B1B64D16005}</publicConnectionGuid><wifiPassword>my_password</wifiPassword><wifiSSID>mySoft-AP</wifiSSID></softGetawayServiceState>